.page-content {
  margin: 20px;
  overflow: scroll;
}

.mdl-card__media {
  display: block;
  background: url('../img/liquor_park_shop.jpg') center / cover;
  height: 300px;
}
.mdl-card__media {
    margin: 0;
}
.mdl-card__media > img {
  max-width: 100%;
}
.demo-list-two {
  width: 300px;
}
.full-width {
  width: 100%;
}